.footer {
    background-color: #000;
    padding: 30px 0;
    border-top: 1px solid #333;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* Para responsividade */
    gap: 20px;
}

.footer-sociais {
    display: flex;
    gap: 20px;
}

.footer-sociais a {
    font-size: 1.8rem;
    color: var(--cor-texto);
    transition: color 0.3s, transform 0.3s;
}

.footer-sociais a:hover {
    color: var(--cor-dourado);
    transform: translateY(-5px);
}

.footer p {
    color: var(--gray-100, #737373);
    font-size: 0.9rem;
}